* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #fff;
    margin: 5%;
}

header {
    text-align: center;
    background-color: black;
}

header h1,
header h2 {
    font-weight: normal;
    line-height: 1;
}

header h2 {
    margin-top: 5px;
    opacity: 1;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    margin-top: 5%;
}
.cabecera{
    position: relative;
    /* background-image: url('/imagenes/fondo_cabecera_cv.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 12px;

    
}



.Foto_de_perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border:9px solid #281f3d;
    
}

.Foto_de_perfil img {
    width: 100%;
    height: auto;
    display: block;

}


.datosPersona {
    padding: 1.5rem;
    margin-top: 2rem;
    background-color: blue;
    padding: 3.3rem;
    width: 15vw;
    border: #1F253D;
    border-radius: 80px;
    text-align: 0;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    word-wrap: break-word; 
    margin-bottom: 20px;
  
}



.redesSociales {
    padding: 1.5rem;
    margin-top: 2rem;
    background-color: blue;
    padding: 3.3rem;
    width: 15vw;
    border: #1F253D;
    border-radius: 80px;
    text-align: 0;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    word-wrap: break-word; 
    margin-bottom: 20px;
}
.container {
    margin-top: 50rem;
    background-color: #1F253D;
    box-shadow: 0px 0px 10px rgb(0, 0, 0.5);
    width:80%;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.containerDerecho {
  
    display: inline-block;
    position: relative;
    right: -50vw;
    left: 10vw;
    top: -15vw;
    width: auto;

}
.containerIzquierdo {
    width: 48%; /* Ancho de los contenedores */
    display: inline-block; /* Organiza los contenedores en línea */
    vertical-align: top; /* Alinea los contenedores en la parte superior */
    margin-bottom: 20px; /* Espacio entre los contenedores */
   
    

}
.containerOtros {
    padding: 1.5rem;
    margin-top: 2rem;
    background-color: blue;
    padding: 3.3rem;
    width: 15vw;
    border: #1F253D;
    border-radius: 80px;
    text-align: 0;
    transition-duration: 0.3s;
    overflow:hidden;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    word-wrap: break-word; 
    margin-bottom: 20px;
   
}

.containerOtros:hover {

    transform: scale(1.1);
    transition: ease-in;
    transition-duration: 0.3s;
    
}


